<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@(ViewBag.Title == null ? "" : ViewBag.Title + " - ")Cameron's CV</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="d-flex flex-column" style="min-height: 100vh">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <a href="@Url.Action("Index","Home")" class="navbar-brand"><img src="~/Photos/gradient blue.png" width="30" height="30" alt="Music Store" /> Cameron Ferns</a>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Education", "Home")">Education</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Projects", "Home")">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("References", "Home")">References</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("EmploymentHistory", "Home")">Employment History</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid body-content">

        @if (ViewBag.Title != null)
        {
            <div class="row">
                <div class="col-md-12 pt-3">
                    <h3>@ViewBag.Title</h3>
                    <hr />
                </div>
            </div>
        }

        @RenderBody()

    <div class="row">
        <div class="col-md-12">
            <footer class="page-footer fixed-bottom bg-white">
                <ul class="list-inline pl-0 pb-3 mt-6">
                    <li class="list-inline-item"><p class="text-dark">&copy; @DateTime.Now.Year - Cameron Ferns</p></li>
                    <li class="list-inline-item"><p class="text-dark">Find me on social media: </p></li>
                    <li class="list-inline-item"><a class="text-dark" href="https://www.facebook.com/cferns11.56" target="_blank">Facebook</a></li>
                    <li class="list-inline-item"><a class="text-dark" href="https://www.linkedin.com/in/cameron-f-341117b7/" target="_blank">LinkedIn</a></li>
                    <li class="list-inline-item"><a class="text-dark" href="https://twitter.com/CameronFerns1" target="_blank">Twitter</a></li>
                    <li class="list-inline-item"><a class="text-dark" href="mailto:cameron@("@")chrisferns.co.uk" target="_top">Contact me: cameron@("@")chrisferns.co.uk</a></li>
                </ul>
            </footer>
        </div>
    </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
